@import 'tailwindcss';
@theme {
  --breakpoint-xs: 36em;
  --breakpoint-sm: 48em;
  --breakpoint-md: 62em;
  --breakpoint-lg: 75em;
  --breakpoint-xl: 88em;
}

body {
  margin: 0;
  background-color: transparent !important;
  background-image: url('./assets/hero-bg.jpeg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
